/*
  File: main.css
  Name: Lee Grobler
  Date: 02/12/2017
  Time: 00:48
  Desc: Basic styles not supplied by Bootstrap
*/

/* Style rules in this file are used for the inital example, it's recommended that you use your own styles. */

.msgBox {
  margin-top: 10px;
}

.catalogueTab, .viewTab, .cartTab {
  margin-top: 50px;
  display: none;
}

/*
  Do take note of how the below styling rules are declared (.parent .child). Although not strictly necessary, this styling strategy will prevent
  heart brake in the future
*/
.product-square .product-img {
  width: 50%;
}

.product-window .view-img {
  float:left;
  text-align: center;
}

.product-window .view-main-img {
  display: block;
}

.product-window .view-extra-img {
  width: 50px;
}

.cart-item, .cart-total {
  margin-bottom: 15px;
  border-bottom: 1px solid #bcbcbc;
}

.cart-item .cart-img {
  width: 120px;
  float: left;
}

.cart-item .section1 {
  float:left;
  padding-top: 25px;
  width: 150px;
}

.cart-item .section2 {
  float:left;
  padding-top: 25px;
  width: 100px;
}

.cart-item .section2 .item-qnt-label {
  margin: 0 15px;
}

.cart-item .section3 {
  float: left;
  padding-top: 25px;
  width: 150px;
}

.cart-total h3 {
  margin-top: 0;
  font-weight: bold;
}























/**/
